header {
  text-align: center;
  height: 90vh;
  padding: 5%;
  position: relative;
}

/*header::after {
  content: '';
  position: absolute;
  top: -5vh;
  bottom: 0;
  left: -5%;
  right: 0%;
  width: 110%;
  height: 80vh;
  border-bottom: 1px solid rgba(60,60,60, 0.3);
  transform: rotate(-3deg);
  z-index: -1;
  overflow: hidden;
}*/

/* icons */
.header-x-backgound {
  position: absolute;
  top: 50px;
  right: 15vw;
  z-index: -1;
}

.header-arrow-forward-background {
  position: absolute;
  top: 300px;
  left: -50px;
  z-index: -1;
}

.header-half-circle-background {
  position: absolute;
  top: 10vh;
  right: -25vh;
  z-index: -1;
}


@media (min-width: 481px) and (max-width: 767px) {
  
  .header-x-backgound {
    right: -8vh;
  }

  .header-arrow-forward-background {
    left: -10vh;
    top: 55vh;
  }

  .header-main-image {
    margin-top: 30px !important;
    width: 20% !important;
  }

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  header {
    padding-top: 0%;
  }
  
  .header-half-circle-background {
    right: -28vh;
    opacity: 0.2;
  }

  .header-x-backgound {
    right: -15vh;
    opacity: 0.1;
  }
  
  .header-arrow-forward-background {
    left: -20vh;
    top: 40vh;
    opacity: 0.2;
  }

  .header-main-image {
    width: 30% !important;
    margin-top: 30px !important;
  }
  
}

